.Form-input-container{
    display: grid;
    justify-content: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

:root{
    --button-color:#3662E3;
    --input-bgColor:hsl(225, 41%, 5%);
}
.QRcodeLink{
    width: 35vw;
    height: 5vh;
    padding: 1rem 2rem;
        border:1px solid #3662E3 ;
        outline:none;
    border-radius: 1rem;
    background-color:var(--input-bgColor);
    color: white;
        min-width: 300px;
        max-width: 600px;
}


.QRcodeLink:hover{
    outline:1px solid rgb(0, 85, 255) ;
}


.QRcodeLink:focus{
    outline:1px solid rgb(0, 85, 255) ;
    border:1px solid rgb(0, 85, 255) ;
}


.Label-container{
    margin-left:9vw ;
    margin-bottom: 1vw;
}

.input-button-container{
    position: relative;

}
.CreateQRCode-btn{
   position: absolute;
    background-color: #3662E3;
    color: white;
    margin-top: 14px;
    margin-right: 1rem;
    right: 0;
    min-width: 100px;
    
    
}
