:root{
    --circle-bg-color:#4e80ee33;
    --button-color:#3662E3;
    --input-bgColor:hsl(225, 41%, 5%);
}

.label-container{
    display: flex;
    justify-content: flex-start;
    margin-top:2rem;
    margin-left: 5rem;
}
.QRcode-container{
    display: grid;
    justify-content: center;
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
    

}
.circle-bg{
    width: 17vw;
    height: 17vw;
    background-color: var(--circle-bg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.QRCodeSrc{
    width: 13vw; 
    /* width: 190px;*/
    height: auto;
    background-color: #F2F5F9;
    border-radius: 0.3rem;
    margin-top:2rem;
    padding: 0.5rem;
}
.buttons-contaner{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.BTN-svg{
    width: 2vw;
    height: auto;
}